 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I graduated with a Master of Engineering degree from University of Waterloo, with an interest in Machine Learning, UI development and html game development.</p>
                </div>
                <div class="col-lg-4">
                    <p>My dream career path is the job that combines technology and art, which are both what I am passionate about. I am seeking full time opportunities in relative fields. </p>
                </div>

                    </a>
                </div>
            </div>
        </div>
    </section>
